
@{
}


<h1>Einstellungen</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th><a class='btn btn-primary btn-sm' @Html.ActionLink("Getriebe", "Gearbox")</a></th>
            <th><a class='btn btn-primary btn-sm' @Html.ActionLink("Kraftstoff", "Fuel")</a></th>
            <th><a class='btn btn-primary btn-sm' @Html.ActionLink("Autozubehör-Einheit", "CarAccessoriesUnit")</a></th>
            <th><a class='btn btn-primary btn-sm' @Html.ActionLink("Produktgruppe Autozubehör", "CarAccessoriesProductGroup")</a></th>
            <th><a class='btn btn-primary btn-sm' @Html.ActionLink("Auftragsstatus", "OrderStatus")</a></th>
            <th><a class='btn btn-primary btn-sm' @Html.ActionLink("Geschlecht", "Sex")</a></th>
            <th><a class='btn btn-primary btn-sm' @Html.ActionLink("Land", "Country")</a></th>
            <th><a class='btn btn-primary btn-sm' @Html.ActionLink("Muttersprachen", "SpokenLangues")</a></th>
        </tr>
    </thead>
</table>