@model CarDealershipASPNETMVC.Models.CarAccessoriesModel
@{
}
<br />
<h2>Edit Auto Zubehör</h2>

<form method="post" action="Edit" class="mt-5">
     <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.CAId)</label>
        <div class="col-sm6">
            <input type="number" class="form-control" asp-for="CAId" readonly>
        </div>
    </div>
    <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.ProductName)</label>
        <div class="col-sm6">
            <input type="text" class="form-control" asp-for="ProductName">
        </div>
    </div>
    <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.CAPGName)</label>
        <div >
                 @Html.DropDownListFor(model => model.CAPGName, new SelectList( ViewBag.CarAccessoriesProductGroup, "CAPGName", "CAPGName"))                
        </div>
    </div>
    <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.QuantityOfStock)</label>
        <div class="col-sm6">
            <input type="number" class="form-control" asp-for="QuantityOfStock">
        </div>
    </div>
    @if (GlobalData.UserAccess == "Manager")
    {
        <div class="row-mb3">
            <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.MinimumStockQuantity)</label>
            <div class="col-sm6">
                <input type="number" class="form-control" asp-for="MinimumStockQuantity">
            </div>
        </div>
    }
    else
    {
        <div class="row-mb3">
            <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.MinimumStockQuantity)</label>
            <div class="col-sm6">
                <input type="number" class="form-control" asp-for="MinimumStockQuantity" readonly>
            </div>
        </div>
    }
    <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.NetSellingPrice)</label>
        <div class="col-sm6">
            <input type="text" class="form-control" asp-for="NetSellingPrice">
        </div>
    </div>
    <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.SalesUnit)</label>
        <div class="col-sm6">
            <input type="text" class="form-control" asp-for="SalesUnit">
        </div>
    </div>
    @*<div class="row-mb3">
        <label class="col-sm3 col-form-label">Unit Price</label>
        <div class="col-sm6">
            <input type="text" class="form-control" asp-for="UnitPrice">
        </div>
    </div>*@
    <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.UnitName)</label>
          <div>
                 @Html.DropDownListFor(model => model.UnitName, new SelectList( ViewBag.CarAccessoriesUnit, "UnitName", "UnitName"))
          </div>
    </div>
    <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.LastUpdateTime)</label>
        <div class="col-sm6">
            <input type="date" class="form-control" asp-for="LastUpdateTime">
        </div>
    </div>
    <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.Brand)</label>
        <div class="col-sm6">
            <input type="text" class="form-control" asp-for="Brand">
        </div>
    </div>
    <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.CreationDate)</label>
        <div class="col-sm6">
            <input type="date" class="form-control" asp-for="CreationDate">
        </div>
    </div>
    <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.Description)</label>
        <div class="col-sm6">
            <input type="text" class="form-control" asp-for="Description">
        </div>
    </div>
    <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.Version)</label>
        <div class="col-sm6">
            <input type="number" class="form-control" asp-for="Version">
        </div>
    </div>
<br />
    <button type="submit" class="btn-primary">Submit</button>
</form>