@model IEnumerable<CarDealershipASPNETMVC.Models.CarAccessoriesProductGroupModel>

@{ 
}

<h1>Produktgruppe Autozubehör</h1>

<br />
<h2>Produktgruppe Autozubehör Liste</h2>
<a class='btn btn-primary btn-sm' @Html.ActionLink("Search Produktgruppe Autozubehör", "Search")</a>
<a class='btn btn-primary btn-sm' @Html.ActionLink("Create neu Produktgruppe Autozubehör", "Create")></a>      

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CAPGId)</th>
            <th>@Html.DisplayNameFor(model => model.CAPGName)</th>
        </tr>
    </thead>
    <tbody>
            @foreach (CarAccessoriesProductGroupModel carAPG in Model)
            {
                <tr>
                    <td>@carAPG.CAPGId</td>
                    <td>@carAPG.CAPGName</td>
                    <td>                     
                        <a class="btn btn-primary btn-sm" @Html.ActionLink("Edit", "Edit", new { id=carAPG.CAPGId })></a>
                        
                        <a class="btn btn-danger btn-sm" @Html.ActionLink("Delete", "Delete", new { id=carAPG.CAPGId })></a>                
                    </td>
                </tr>
            }
    </tbody>
</table>